/*FONTE---rules to specify families -> font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
/*FONTE---rules to specify families -> font-family: 'Lobster Two', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*FONTE---rules to specify families -> font-family: 'Open Sans', sans-serif;*/

/*-VARIÁVEIS-*/
:root {
    --cor1: #F20530;
    --cor2: #A60321;
    --cor3: #590219;
    --cor4: #260A15;
    --cor5: #F2A03D;
    --branco: #FDFDFD;
}

/*-GLOBAIS-*/
body {
    background-image: url('https://images.hdqwalls.com/download/abstract-dark-colors-pattern-8k-dw-7680x4320.jpg');
    background-size: cover;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }

}

section {
    padding: 5% 10%;
}

a {
    text-decoration: none;
}

.btn {
    text-transform: uppercase;
}

h1 {
    color: var(--branco);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

}

h2 {
    color: var(--branco);
    text-shadow: 2px 2px rgba(13, 13, 13, 0.288);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid var(--cor5);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.2);
    animation: blink 20s infinite;
}

h3 {
    color: var(--branco);
    text-shadow: 2px 2px rgba(13, 13, 13, 0.288);
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
}

h3::first-letter {
    text-transform: uppercase;
}

h4 {
    color: var(--branco);
    text-shadow: 2px 2px rgba(13, 13, 13, 0.288);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: lowercase;
}

h4::first-letter {
    text-transform: uppercase;
}

h6 {
    color: var(--branco);
    text-shadow: 2px 2px rgba(13, 13, 13, 0.288);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: lowercase;
}

h6::first-letter {
    text-transform: uppercase;
}

p {
    text-shadow: 1px 1px rgba(13, 13, 13, 0.288);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-align: justify;
    color: var(--branco);
}

ul>li {
    list-style: none;
}

/*-ANIMAÇÃO DE BORDA-*/
@keyframes blink {
    0% {
        border-color: var(--cor5);
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: var(--cor5);
    }
}

/*-BARRA DE NAVEGAÇÃO-*/
.navbar {
    background-color: rgba(0, 0, 0, .25);

}

.navbar-brand {
    margin-left: 1vw;
}

.nav-logo {
    width: 100%;
    max-width: 3rem;
}

/*-IMAGE SLIDER-*/
.carousel-caption {
    padding: 5px 10px;
    width: fit-content;
    position: absolute;
    margin: 2% auto;
    text-shadow: 4px 4px 6px hsla(0, 0%, 5%, 0.5);
}

/*-SECTIONS-*/
.sobre-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.sobre {
    margin-right: 5%;
}

iframe {
    width: 35vw;
    height: 20vw;
}

.espacos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.espacos {
    margin-left: 5%;
}

.espacos-content>.slick-center {
    width: 100%;
    max-width: 75vw;
    background-color: rgba(38, 10, 21, 0.25);
}

.slick-item > img {
    width: 20vw;
    max-width: 100%;
    min-width: 100px;
}

.slick-prev:before, .slick-next:before {    
    color: var(--cor3) !important;
    font-size: 2rem !important;
}

.slick-info{
display: flex;
justify-content: space-around;
align-items: center;
animation-duration: 1s;
}

.see-more{
    display: flex;
    flex-direction: column;
}

.see-more>h6{
    text-transform: uppercase;
}

.see-more>h6:hover{
    transition: 500ms linear; 
    color: #F2A03D;
    text-shadow: 0 0x 4px var(--cor5);
    font-size: 110%;
}

.line{
    width: 3vw;
    border: 1px solid var(--cor5);
}

.msg{
    margin-top: 10%;
}

.msg>h2::first-letter{
    font-size: 200%;
    font-style: oblique;
    text-shadow: -2px 2px 5px var(--cor5);
    color: #F2A03D;
}


/*-FOOTER*/
footer {
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.25);
}

/*-RESPONSIVIDADE-*/