/*FONTE---rules to specify families -> font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
/*FONTE---rules to specify families -> font-family: 'Lobster Two', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*FONTE---rules to specify families -> font-family: 'Open Sans', sans-serif;*/

/*-VARIÁVEIS-*/
:root {
    --cor1: #010440;
    --cor1t: rgba(1, 4, 64, 0.95);

    --cor2: #023059;
    --cor2t: rgba(2, 48, 89, 0.95);

    --cor3: #0597F2;
    --cor3t: hsla(203, 96%, 48%, 0.95);

    --cor4: #05AFF2;
    --cor4t: rgba(5, 175, 242, 0.95);

    --cor5: #05C7F2;
    --cor5t: rgba(5, 199, 242, 0.95);

    --branco: #FDFDFD;
    --preto: #0f0f0f;
}

/*-GLOBAIS-*/
:hover {
    transition: 100ms linear !important;
}

title {
    text-transform: uppercase !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor1);
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.background>img {
    width: 100%;
    height: 100%;
}

section {
    padding: 5% 10%;
}

a {
    text-decoration: none;
}

.btn {
    text-transform: uppercase;
}

h1 {
    color: var(--branco);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

}

h2 {
    color: var(--branco);
    padding: 0 1rem;
    text-shadow: 2px 2px rgba(13, 13, 13, 0.288);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid var(--cor5);
    animation: blink 15s infinite;
}

h3 {
    color: var(--branco);
    text-shadow: 2px 2px rgba(13, 13, 13, 0.288);
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
}

h3::first-letter {
    text-transform: uppercase;
}

h4 {
    color: var(--branco);
    text-shadow: 2px 2px rgba(13, 13, 13, 0.288);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: lowercase;
}

h4::first-letter {
    text-transform: uppercase;
}

h5 {
    text-transform: capitalize;
}

h6 {
    color: var(--cor5);
    text-shadow: 2px 2px rgba(13, 13, 13, 0.288);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: lowercase;
}

h6::first-letter {
    text-transform: uppercase;
}

p {
    text-shadow: 1px 1px rgba(13, 13, 13, 0.288);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-align: justify;
    color: var(--branco);
}

ul>li {
    list-style: none;
}

/*-ANIMAÇÃO DE BORDA-*/
@keyframes blink {
    0% {
        border-color: var(--cor4);
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: var(--cor4);
    }
}

/*-RESPONSIVIDADE-*/
@media screen and (max-width: 910px) {

    #background-video,
    .container-fluid>img {

        border-bottom-width: 10vw !important;

    }

    .sobre-content {

        border-top-width: 10vw !important;
        border-bottom-width: 10vw !important;
        flex-direction: column !important;

    }

    .accordion {
        margin: 0 !important;
        min-width: 56vw !important;
    }

    .accordion-title {
        display: flex;
        flex-direction: column;
        padding-right: 2rem;
        align-items: center;
    }

    #itemFixo {
        display: flex;
        align-items: flex-end;
        padding: 2vw !important;
        top: 25vw !important;

    }

    #itemFixo>h1 {
        font-size: 2.5vw;
    }

    #itemFixo>img {
        width: 7vw;
        margin: 0 3vw !important;
    }

    .slick-dots {
        display: none !important;
    }

}

/*-BARRA DE NAVEGAÇÃO-*/
.navbar {
    background-color: var(--cor2t);
}

.navbar-brand {
    margin-left: 1vw;
}

.nav-logo {
    width: 100%;
    max-width: 3rem;
}

.navbar-toggler {
    margin-right: 1vw;
}

.offcanvas {
    background-color: var(--cor1) !important;
}

.dropdown-menu {
    background-color: var(--cor2);
}

.btn {
    background-color: var(--cor5) !important;
    color: var(--cor1);
}

/*-VIDEO BG-*/
#background-video {
    width: 100%;
    border-bottom: 100px solid var(--cor2t);
    border-bottom-left-radius: 40%;
}

/*-ACCORDION-*/
.accordion {
    margin-left: 5%;
    min-width: 30vw;
    max-width: min-content;
    background-color: var(--cor5);
    border-color: var(--cor5);
}

.accordion-item {
    background-color: var(--cor5);
    border-color: var(--cor5);
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor5);
    border-color: var(--cor5);
    color: var(--cor1);
    font-size: 1.5rem;
}

.accordion-icon {
    padding: 0 !important;
    margin: 0 !important;
    width: min-content !important;
}

.accordion-icon>i {
    font-size: 1rem;
    padding: 0 2rem;
    color: var(--cor1) !important;
}

.accordion-title:hover {
    background-color: var(--cor5) !important;
    opacity: 0.5;
}

.accordion-title:active {
    background-color: var(--cor5) !important;
    opacity: 0.5;
}

.accordion-content {
    background-color: var(--cor5);
    border-color: var(--cor5);
    color: var(--cor1);
    padding: 1rem;
}

.accordion-content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.accordion-content-item>h5,
.accordion-content-item>h6 {
    text-shadow: none;
    color: var(--cor1);

}

.accordion-content-item>h5>a {
    color: var(--cor1) !important;
}

.accordion-content-item>h5>a:hover {
    opacity: .7;
}


/*-SECTIONS-*/
.sobre-content,
.espacos-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 1%;
    border-top: 100px solid var(--cor2t);
    border-top-left-radius: 40%;
    width: 100%;
    border-bottom: 100px solid var(--cor2t);
    border-bottom-right-radius: 40%;
}

#home-sobre-content {
    flex-direction: column;
}

.sobre,
.espacos {
    background-color: var(--cor1);
    padding: 5%;
}

.sobre>h2 {
    margin-bottom: 5%;
}

#home-sobre {
    margin: 0;
}

#home-sobre-content>.container-fluid {
    display: flex;
    justify-content: center;
    margin: 5% 0;
    padding: 0;
}

iframe {
    width: 70vw;
    height: 40vw;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}

.espacos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espacos-content> {
    width: 100%;
    max-width: 75vw;
    background-color: rgba(38, 10, 21, 0.25);
}

.slick-center {
    width: 100%;
    max-width: 70vw;

}

.slick-item {

    border-bottom: 1vw solid var(--cor2t);
    border-left: 1vw solid var(--cor3t);
    border-bottom-right-radius: 20%;
    margin-left: 1vw;

}

.slick-item>img {
    padding: 1vw;
    width: 20vw;
    max-width: 300px;
    min-width: 100px;
}

.slick-prev:before,
.slick-next:before {
    color: var(--cor4) !important;
    font-size: 2rem !important;
}

.slick-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slick-info>h4 {
    min-width: max-content;
}

.see-more {
    display: flex;
    flex-direction: column;
}

.see-more>h6 {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--cor5);
}

.see-more>h6:hover {
    opacity: 0.5;
    font-weight: 300;
    font-size: 101%;
}

.line {
    width: 3vw;
    border: 1px solid var(--cor5);
}

.msg {
    margin-top: 10%;
}

.msg>h2::first-letter {
    font-size: 200%;
    font-style: oblique;
    text-shadow: -2px 2px 5px var(--cor3);
    color: var(--cor2);
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.container-fluid>img {
    width: 100%;
    border-bottom: 100px solid var(--cor2);
    border-bottom-left-radius: 40%;
}

#itemFixo {
    position: fixed;
    top: 22rem;
    background: var(--cor2t);
    color: var(--branco);
    width: 100%;
    padding: 20px;
    padding-left: 80px;
    transition: opacity 0.5s;
    opacity: 1;
}

#itemFixo>img {
    max-height: 5rem;
    margin: 0 10%;
}


#apartamento {
    margin-top: 1%;
    align-items: flex-start;
}

#apartamento>.sobre {
    width: 70%;
}

.fade {
    width: 80%;
    margin-top: 5%;
}

.slick-slide>img {
    width: 100%;
}

.slick-info>h4 {
    margin: 1%;
}

.slick-prev {
    left: -58px !important;
}

.slick-next {
    right: -45px !important;
}

.slick-next:hover,
.slick-prev:hover {
    transform: scale(1.2);
    transition: all .5s ease-in-out;
}

.fade>div {
    border-top-left-radius: 38%;
    border-bottom-right-radius: 38%;
}

.fade>div::before,
.fade>div::after {
    content: '';
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    background-color: var(--cor3);
}

.fade:not(.show) {
    position: relative;
    opacity: 1 !important;
    border: 3vw solid var(--cor3);
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow: 0 0 0 2vw var(--cor2t);
}

#servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#servicos>.sobre {
    min-width: 30vw;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.gallery-item {
    position: relative;
    margin: .25rem;
    border: .5rem solid var(--cor5);
}

.gallery-item img:hover {
    transform: scale(1.1);
}

.gallery-item img {
    width: 20vw;
    min-width: 220px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.gallery-item h6 {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    background-color: var(--cor2t);
    padding: 1%;
    text-transform: capitalize;
}

.gallery-item.fullscreen img {
    position: fixed;
    margin-top: 74px;
    margin-left: 5vw;
    border: 5vh solid var(--cor2);
    top: 0;
    left: 0;
    width: 90vw;
    height: 90vh;
    background-color: var(--cor2t);
    object-fit: contain;
    z-index: 9;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

/*-FOOTER*/
footer {
    position: absolute;
    width: 100vw;
    min-height: 5vw;
    padding: 0 5%;
    background-color: var(--cor2t);
    border: none !important;
}

footer>.text-muted {
    color: var(--cor5) !important;
}


footer>.nav>.nav-item>.nav-link {
    color: var(--cor5) !important;
}