/*FONTE---rules to specify families -> font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
/*FONTE---rules to specify families -> font-family: 'Lobster Two', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*FONTE---rules to specify families -> font-family: 'Open Sans', sans-serif;*/

/*-VARIÁVEIS-*/
:root {
    --cor1: #F20530;
    --cor2: #A60321;
    --cor3: #590219;
    --cor4: #260A15;
    --cor5: #F2A03D;
    --branco: #FDFDFD;
    --preto: #0f0f0f;
}

/*-GLOBAIS-*/
:hover {
    transition: 100ms linear !important;
}

body {
    background-image: url('https://images.hdqwalls.com/download/abstract-dark-colors-pattern-8k-dw-7680x4320.jpg');
    background-size: cover;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }

}

section {
    padding: 5% 10%;
}

a {
    text-decoration: none;
}

.btn {
    text-transform: uppercase;
}

h1 {
    color: var(--branco);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

}

h2 {
    color: var(--branco);
    text-shadow: 2px 2px rgba(13, 13, 13, 0.288);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid var(--cor5);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.2);
    animation: blink 20s infinite;
}

h3 {
    color: var(--branco);
    text-shadow: 2px 2px rgba(13, 13, 13, 0.288);
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
}

h3::first-letter {
    text-transform: uppercase;
}

h4 {
    color: var(--branco);
    text-shadow: 2px 2px rgba(13, 13, 13, 0.288);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: lowercase;
}

h4::first-letter {
    text-transform: uppercase;
}

h6 {
    color: var(--branco);
    text-shadow: 2px 2px rgba(13, 13, 13, 0.288);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: lowercase;
}

h6::first-letter {
    text-transform: uppercase;
}

p {
    text-shadow: 1px 1px rgba(13, 13, 13, 0.288);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-align: justify;
    color: var(--branco);
    text-indent: 1.5rem;
}

ul>li {
    list-style: none;
}

/*-ANIMAÇÃO DE BORDA-*/
@keyframes blink {
    0% {
        border-color: var(--cor5);
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: var(--cor5);
    }
}

/*-RESPONSIVIDADE-*/
@media screen and (max-width: 910px){
    #background-video,.container-fluid>img{
        
        border-bottom: 10vw solid rgba(89, 2, 25, 0.95) !important;
        
    }
    #home-sobre-content, #apartamento{
        
        border-top: 10vw solid rgba(89, 2, 25, 0.95) !important;
        
    }

    #apartamento{
        flex-direction: column !important;
    }

    .accordion{
        width: 70% !important;
    }
}

/*-BARRA DE NAVEGAÇÃO-*/
.navbar {
    background-color: rgba(0, 0, 0, .25);

}

.navbar-brand {
    margin-left: 1vw;
}

.nav-logo {
    width: 100%;
    max-width: 3rem;
}

.navbar-toggler {
    margin-right: 1vw;
}

.offcanvas {
    background-color: var(--cor4) !important;
}

.btn {
    background-color: var(--cor5) !important;
    color: var(--cor4);
}

/*-VIDEO BG-*/
#background-video{
    width: 100%;
    border-bottom: 100px solid rgba(89, 2, 25, 0.95);
    border-bottom-left-radius: 40%;
}

/*-ACCORDION-*/
.accordion{
width: 30vw;
background-color: var(--cor5);
border-color: var(--cor5);
}

.accordion-item{
    background-color: var(--cor5);
    border-color: var(--cor5);
}

.accordion-title{
    background-color: var(--cor5);
    border-color: var(--cor5);
    color: var(--branco);
    font-size: 1.5rem;
}

.accordion-title:hover{
    background-color: var(--cor5) !important;
    opacity: 0.5;
}

.accordion-title:active{
    background-color: var(--cor5) !important;
    opacity: 0.5;
}

.accordion-content{   
    background-color: var(--cor5);
    border-color: var(--cor5);
    color: var(--branco);
}

.accordion-content-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.accordion-content>h5,h6{
    text-shadow: none;
}


/*-SECTIONS-*/
.sobre-content {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(38, 10, 21, 0.95);
}

#home-sobre-content{
    flex-direction: column;

    border-top: 100px solid rgba(89, 2, 25, 0.95);
    border-top-left-radius: 40%;
}

.sobre {
    margin-right: 5%;
}

#home-sobre{
    margin: 0;
}

#home-sobre-content>.container-fluid{
    display: flex;
    justify-content: center;
    margin: 5% 0;
    padding: 0;
}

iframe {
    width: 70vw;
    height: 40vw;
}

.espacos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(38, 10, 21, 0.95);
}

.espacos {
    margin-left: 5%;
}

.espacos-content>.slick-center {
    width: 100%;
    max-width: 75vw;
    background-color: rgba(38, 10, 21, 0.25);
}

.slick-item {
    
    border-bottom: 1vw solid var(--cor5);
    border-left: 1vw solid var(--cor1);
    border-bottom-right-radius: 20%;
    margin-left: 1vw;

}

.slick-item>img {
    padding: 1vw;
    width: 20vw;
    max-width: 300px;
    min-width: 100px;
}

.slick-prev:before,
.slick-next:before {
    color: var(--cor3) !important;
    font-size: 2rem !important;
}

.slick-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation-duration: 1s;
}

.see-more {
    display: flex;
    flex-direction: column;
}

.see-more>h6 {
    text-transform: uppercase;
    font-weight: 600;
}

.see-more>h6:hover {
    opacity: 0.5;
    font-weight: 300;
    font-size: 101%;
}

.line {
    width: 3vw;
    border: 1px solid var(--cor5);
}

.msg {
    margin-top: 10%;
}

.msg>h2::first-letter {
    font-size: 200%;
    font-style: oblique;
    text-shadow: -2px 2px 5px var(--cor5);
    color: #F2A03D;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.container-fluid>img {
    width: 100%;
    border-bottom: 100px solid rgba(89, 2, 25, 0.95);
    border-bottom-left-radius: 40%;
}

    #itemFixo {
    position: fixed;
    bottom: 60%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    transition: opacity 0.5s;
    opacity: 1;
}

#itemFixo>img{
    max-height: 5rem;
    margin: 0 10%;
}


#apartamento{
    margin-top: 1%;
    align-items: flex-start;
    border-top: 100px solid rgba(89, 2, 25, 0.95);
    border-top-left-radius: 40%;
    background-color: rgba(38, 10, 21, 0.95);
}

#apartamento>.sobre{
width: 70%;
}

#ambientes{
    background-color: rgba(38, 10, 21, 0.95);
}

.fade{
    width: 100%;
}

.fade>h5{
    
}

.slick-prev{
    left: -40px !important;
}

.fade>div{
    border-top-left-radius: 35%;
    border-bottom-right-radius: 35%;
}

.fade:not(.show){
    opacity: 1 !important;
    border: 5vw solid var(--cor5);
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

/*-FOOTER*/
footer {
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.25);
}

/*-RESPONSIVIDADE-*/